# custom files
# custom/
libevent
openssl
zlib
protobuf_3.8.0cpp_sdk

# temp files directories
.vs
x64
Debug
bin
lib
protoc.exe
build_pb.bat
# cache/
# log/
# *.swp
# .DS_Store

# editor configs
.vscode
